.quiz {
    text-align: center;
    margin: 3rem;
}

.count_num {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 2.5rem;
}

.user_profile {
    max-width: 480px;
    height: auto;
    width: 30rem;
    margin-bottom: 5rem;
    border-radius: 30px;
}

.input-background {
    background-color: rgb(54, 62, 59);
    max-width: 800px;
    min-height: 90px;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.input-group {
    max-width: 700px;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* 좌우 간격 균등 분배 */
    align-items: center;
}

.form-control {
    width: calc(100% - 80px);
    border: none; /* 테두리 없음 */
    border-radius: 30px;
}

.btn {
    width: 6rem;
    background-color: #00d67a;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 30px;
}
