<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% include 'login_header.html' %}
        <link rel="stylesheet" href="/static/css/login.css">
    </head>

    <body>

        <div>
            <img class="label" src="./static/assat/jungle_book.png"><br>
        </div>

        <div>
            <div class="posting-box">
                <h1 style="text-align:center; font-weight : bold;">Login</h1>
    
                <hr style="border: solid 3px black;">
                
                <div class="input-box">
                    <h3 style="font-weight: bold;">ID</h3>
                    <input style="width:400px;height:40px;" type="ID" class="form-ID"><br><br>
                    <h3 style="font-weight: bold;">PASSWORD</h3>
                    <input style="width:400px;height:40px;" type="password" class="form-ID"><br>
                    
                    <div class="btn">
                        <button class="btn-deco" style="line-height: 10px;">Login</button><br>
                        <a href="#"  style="font-size: 20px;color: black">sing_in</a>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </body>
</html>