<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% include 'login_header.html' %}
        <link rel="stylesheet" href="/static/css/login.css">
    </head>

    <body>

        <div>
            <img class="label" onclick="location.href='/'"  src="./static/assat/jungle_book.png"><br>
        </div>

        <div>
            
        </div>
        <div style="padding: 50px;">
            <div class="posting-box">
                <h1 style="text-align:center; font-weight : bold;">Login</h1>
    
                <hr  style="border: solid 3px black; width: 70%; margin-left: auto; margin-right: auto;"><br>
                
                <form>
                    <div class="input-box">
                        <h3 style="font-weight: bold; font-size: 23px;">ID</h3>
                        <input style="width:400px;height:40px;" type="ID" class="form-ID"><br><br>
                        <h3 style="font-weight: bold; font-size: 23px;">PASSWORD</h3>
                        <input style="width:400px;height:40px;" type="password" class="form-ID"><br>
                        
                        <div class="btn">
                            <button class="btn-deco" style="line-height: 10px; color: white">Login</button><br>
                        </div>
                        <div style="text-align: center;">
                            <a href="#"  style="font-size: 20px;color: black;">sing_in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>