<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/list.css">
    {% include 'header.html' %}

    <script>
        let user_id = "{{ data.user.user_id }}";
        let page = 1;
        $(document).ready(function () {
            $(".next-btn").show();
            next_page(page);
        })


        function next_page() {
            $.ajax({
                url: "/get_user",
                data: { "user_id": user_id, "page": page },
                type: "GET",
                success: function (response) {
                    console.log(page);
                    page++;
                    console.log(response.data.comments)
                    const comments = response.data.comments
                    if (comments.length !== 0) {
                        comments.map(content => {
                            const { comment, writter } = content;
                            display_comment_list(comment, writter);
                        })
                    } else {
                            display_empty_comment();
                    }
                    if (response.data.check_last_page) {
                        $(".next-btn").hide();
                    }
                }
            })

        }

        function display_comment_list(comment, writter) {
            let text = `<div class="d-flex justify-content-between align-items-center user_profile_container">
                        <div class="d-flex flex-row align-items-center">
                        <img class="user_profile_img" src="../static/profile/${writter.user_profile}" alt="작성자 이미지">
                        <span class="user_comments"> ${comment}</span ></div ></div >`
            $("#comment_list").append(text);
        }

        function display_empty_comment() {
            let text = `<div class="d-flex justify-content-center align-items-center user_profile_container" style="margin-bottom: 0px">
                            <h3>남겨진 첫인상이 없습니다.</h3>
                        </div >`
            $("#comment_list").append(text);
        }

        function add_comment() {
            var user_id = "{{ data.user.user_id }}"; // 유저 아이디를 어떻게 받아오는지에 따라서 수정해야 합니다.
            var comment = document.getElementById('answer').value.trim(); // 입력 값 가져오기 및 공백 제거

            if (comment !== "") { // 입력 값이 비어 있지 않은 경우에만 ajax 요청 보내기
                $.ajax({
                    url: "/add_comment",
                    data: { "user_id": user_id, "comment": comment },
                    type: "POST",
                    success: function (response) {
                        // 첫인상 추가가 성공한 경우, 프로필 페이지로 리다이렉트
                        window.location.href = "/profile?user_id=" + user_id;
                    },
                    error: function (xhr, status, error) {
                        // 첫인상 추가에 실패한 경우, 오류 메시지를 표시하거나 다른 작업을 수행할 수 있습니다.
                        console.error(error);
                    }
                });
            } else {
                // 입력 값이 비어 있으면 아무 작업도 수행하지 않음
                console.log("입력 값이 비어 있습니다.");
            }
        }

        function goBack() {
            window.history.back(); // 이전 페이지로 이동
        }

    </script>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-center">
            <a href="/" class="logo">
                {% if data.check_mypage %}
                    <img src="../static/assat/mypage.png" class="img-fluid logo" alt="mypage" id="mypage">
                {% else %}
                    <img src="../static/assat/profile.png" class="img-fluid logo" alt="mypage" id="mypage">
                {% endif %}
            </a>
        </div>
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-6 users_container p-5 profile_container">
                    <button class="btn btn-primary btn-dark" style="margin-bottom: 20px" onclick="goBack()">로비로</button>
                    <div class="profile_info">
                        <div class="profile">
                            <div class="profile_img_container">
                                <img src="../static/profile/{{ data.user.user_profile }}" alt="유저 프로필">
                            </div>
                            <div class="user_profile_info">
                                <div>
                                    {{ data.user.user_name }}
                                </div>
                                <div>
                                    메달
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if not data.check_mypage %}
                    <div id="input_box">
                        <div class="input-background flex-column">
                            <div class="input-group">
                                <input type="text" style="border-radius: 15px 0px 0px 15px" class="form-control" id="answer" onkeypress="handleKeyPress(event)">
                                <button type="button" style="border-radius: 0px 15px 15px 0px" class="btn btn-outline-secondary" onclick="add_comment()">첫인상 남기기</button>

                                <script>
                                    function handleKeyPress(event) {
                                        if (event.keyCode === 13) {
                                            add_comment();
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="comments_container">
                        <div id="comment_list">
                        </div>
                    </div>



                    <div id="next">
                        <button type="button" class="next-btn" onclick="next_page()">더 보기</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>