<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/quiz.css">
    <script>
        var count_num = 1;
        var user = [];
        var score = 0;
        var max_count = 0;
        $(document).ready(function () {
            $(".bi-caret-right-fill").hide();
            $("#answerMessage").hide();
            $.ajax({
                url: "/random_users",
                type: "GET",
                data: "",
                success: function (response) {
                    for (var i = 0; i < response.users.length; i++) {
                        user[i + 1] = response.users[i];
                        console.log(user[i + 1]);
                    }
                    max_count = response.users.length;
                    display_user_image();
                    display_count_num();
                }
            });
            score = 0;
        });

        function answer_check() {
            var answer = $("input").val();
            $("#answerMessage").show();
            if (answer == user[count_num].user_name) {
                $("#answerMessage").html("정답입니다!");
                score++;
            } else {
                $("#answerMessage").html("<strong style='color:red;'>" + answer + "</strong>" + "(이)라구요? 틀렸습니다...&nbsp아.. 제 이름은&nbsp" + "<strong style='color:yellow;'>" + user[count_num].user_name + "</strong>" + " 입니다!");
            }
            $(".bi-caret-right-fill").show();
            $("#answer").prop("disabled", true);
            $(".btn").prop("disabled", true);
        }

        // 다음 유저 출력
        function next_user() {
            $("#answerMessage").text("");
            $("#answerMessage").hide();
            $("#answer").prop("disabled", false);
            $(".btn").prop("disabled", false);
            console.log("다음 유저 출력");
            $(".bi-caret-right-fill").hide();
            if (count_num >= max_count) {
                window.location.href = '/result?score=' + score + "&max_count=" + max_count;
            } else {
                count_num++;
            }
            display_count_num();
            display_user_image();
            $("#answer").val("");
        }

        function display_user_image() {
            if (user[count_num]) {
                var profileFileName = user[count_num].user_profile;
                var encodedProfileFileName = encodeURIComponent(profileFileName);
                $(".user_profile").attr("src", "../static/profile/" + encodedProfileFileName);
            } else {
                console.log("해당 유저가 없습니다.");
            }
        }
        // 숫자 1 -> 10까지 증가시킨 값 변경해주기
        function display_count_num() {
            $(".count_num").text(count_num + " / " + max_count);
        }

        function enterKey() {
            answer_check()
        }

    </script>

</head>

<body>
    <div class="quiz">
        <div>
            <a href="/">
                <img src="/static/assat/whos_that.png">
            </a>
        </div>
        <div class="count_num">
            <!-- 카운트 삽입 -->
        </div>
        <div class="img_box">
            <img src="" alt="" class="user_profile">
            <i class="bi bi-caret-right-fill" onclick="next_user()"></i>
        </div>
        <div class="input-background">
            <div class="input-group">
                <input type="text" class="form-control" id="answer" onkeypress="if( event.keyCode == 13 ){enterKey();}">
                <button type="button" class="btn btn-outline-secondary" onclick="answer_check()">정답 제출</button>
            </div>
        </div>
        <div id="answerMessage"></div>
    </div>
</body>

</html>