<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% include 'login_header.html' %}
    <link rel="stylesheet" href="/static/css/sign_in.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const formData = new FormData();
        function handleImageUpload(event) {
            const imageFile = event.target.files[0];
            formData.append('user_profile', imageFile);

            $.ajax({
                type: "POST",
                url: "/upload_image",  // 변경된 URL
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.result === 'success') {
                        const newImageUrl = response.image_url;
                        const signImage = document.getElementById('sign_image');


                        if (signImage.src !== '') {
                            formData.delete('user_profile');
                            URL.revokeObjectURL(signImage.src);
                            signImage.src = '';
                        }
                        console.log(newImageUrl);
                        signImage.setAttribute('src', newImageUrl);
                    } else {
                        console.error(response.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('이미지 업로드 실패:', errorThrown);
                }
            });

        }

        function sign_in() {
            var id = document.querySelector(".form-ID").value;
            var pw = document.querySelector(".form-PW").value;
            var name = document.querySelector(".form-NAME").value;
            var file = document.querySelector("#user_profile").files[0];
            var user_message = document.querySelector(".user_message").value;
            if (id === "" || pw === "" || name === "" || !file) {
                alert("모든 필드를 작성해주세요.");
                return; // 데이터가 비어 있으면 함수 종료
            }

            // 입력 필드 초기화
            document.querySelector(".form-ID").value = "";
            document.querySelector(".form-PW").value = "";
            document.querySelector(".form-NAME").value = "";
            document.querySelector("#user_profile").value = "";
            document.querySelector(".user_message").value = "";


            const formData = new FormData();
            formData.append('user_id', id);
            formData.append('user_pw', pw);
            formData.append('user_name', name);
            formData.append('user_profile', file);
            formData.append('user_message', user_message);


            $.ajax({
                type: "POST",
                url: "/user_sign_in",  // 변경된 URL
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response.status);
                    if (response.status === 'success') {
                        console.log("success")
                        alert("회원가입 성공!");
                        window.location.href = "/login"
                    } else {
                        alert("회원가입 실패! " + response.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("잠시 후 다시 시도해주세요.");
                }
            });
        }

    </script>


</head>

<body>

    <a href="/">
        <img class="label" src="./static/assat/jungle_book.png"><br>
    </a>
    <div style="padding: 20px;">
        <div class="posting-box" style="min-height: 78vh">
            <h1 style="text-align:center; font-weight : bold; margin-top: -3%;">Join</h1>

            <hr style="border: solid 1px black; width: 70%; margin-left: auto; margin-right: auto;"><br>
            <div class="input-box">
                <span class="set_image" style="margin-left: 25%;">
                    <label for="user_profile">
                        <img src="../static/assat/default_profile.jpeg" alt="대체 이미지" id="sign_image">
                    </label>
                    <input type="file" name="user_profile" id="user_profile" onchange="handleImageUpload(event)">
                </span>

                <h3 style="font-weight: bold; font-size: 14px;">ID</h3>
                <input style="width:400px;height:40px; margin-bottom: 3%;" type="ID" class="form-ID"><br>

                <h3 style="font-weight: bold; font-size: 14px;">PASSWORD</h3>
                <input style="width:400px;height:40px;margin-bottom: 3%;" type="password" class="form-PW"><br>

                <h3 style="font-weight: bold; font-size: 14px;">NAME</h3>
                <input style="width:400px;height:40px;margin-bottom: 3%;" class="form-NAME"><br>

                <div class="etc_container">
                    <h3 style="font-weight: bold; font-size: 14px;">ETC.</h3>
                    <span class="etc_font">&nbsp&nbsp(필수X)</span>
                </div>

                <input style="width:400px;height:40px;" class="user_message"
                    placeholder="나의 이름을 아직도 못 외운 친구들을 위한 한 마디"><br>

                <div class="btn">
                    <button class="btn-deco" style="line-height: 10px; color: white;" onclick="sign_in()">Sign
                        In</button><br>
                </div>
            </div>
        </div>
    </div>

</body>

</html>